# Load and explore the nCov2019 dataset (Hubei only)

In [1]:
ncov_hubei = catalog.load("raw_ncov_hubei")
ncov_hubei

2020-03-16 09:07:43,605 - kedro.io.data_catalog - INFO - Loading data from `raw_ncov_hubei` (CSVDataSet)...

/anaconda3/envs/inauditus/lib/python3.7/site-packages/kedro/io/data_catalog.py:358: DtypeWarning: Columns (1,2,10,11,13,14,17,18,20,22,23,24) have mixed types. Specify dtype option on import or set low_memory=False.
  result = func()

,ID,age,sex,city,province,country,wuhan(0)_not_wuhan(1),latitude,longitude,geo_resolution,...,outcome,date_death_or_discharge,notes_for_discussion,location,admin3,admin2,admin1,country_new,admin_id,Unnamed: 32
0,1.0,15-88,male,Wuhan City,Hubei,China,0.0,30.62506,114.3421,admin2,...,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0,NaN
1,2.0,15-88,male,Wuhan City,Hubei,China,0.0,30.62506,114.3421,admin2,...,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0,NaN
2,3.0,15-88,male,Wuhan City,Hubei,China,0.0,30.62506,114.3421,admin2,...,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0,NaN
3,4.0,15-88,male,Wuhan City,Hubei,China,0.0,30.62506,114.3421,admin2,...,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0,NaN
4,5.0,15-88,male,Wuhan City,Hubei,China,0.0,30.62506,114.3421,admin2,...,NaN,NaN,NaN,NaN,NaN,Wuhan City,Hubei,China,420100.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22236,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22237,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22238,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22239,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22240,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [2]:
ncov_hubei.dtypes

ID                          float64
age                          object
sex                          object
city                         object
province                     object
country                      object
wuhan(0)_not_wuhan(1)       float64
latitude                    float64
longitude                   float64
geo_resolution               object
date_onset_symptoms          object
date_admission_hospital      object
date_confirmation            object
symptoms                     object
lives_in_Wuhan               object
travel_history_dates        float64
travel_history_location     float64
reported_market_exposure     object
additional_information       object
chronic_disease_binary      float64
chronic_disease              object
source                       object
sequence_available           object
outcome                      object
date_death_or_discharge      object
notes_for_discussion        float64
location                    float64
admin3                       object
admin2                       object
admin1                       object
country_new                  object
admin_id                    float64
Unnamed: 32                 float64
dtype: object

`date_onset_symptoms` and `date_admission_hospital` are too sparse.

In [3]:
ncov_hubei.date_onset_symptoms.value_counts(dropna=False)

NaN               22146
pre 18.01.2020       57
10.01.2020            4
11.01.2020            4
06.01.2020            3
05.01.2020            3
13.01.2020            2
22.12.2019            2
12.01.2020            2
15.01.2020            2
18.01.2020            2
10.12.2019            2
09.01.2020            2
03.01.2020            2
30.12.2019            1
29.12.2019            1
26.11.2020            1
20.12.2019            1
23.12.2019            1
08.01.2020            1
early january         1
02.01.2020            1
Name: date_onset_symptoms, dtype: int64

In [4]:
ncov_hubei.date_admission_hospital.value_counts(dropna=False)

NaN           22200
18.01.2020        5
13.01.2020        4
19.01.2020        4
09.01.2020        3
05.01.2020        3
27.12.2019        3
11.01.2020        3
17.01.2020        2
14.01.2020        2
16.01.2020        2
31.12.2019        2
23.01.2020        1
10.12.2019        1
06.01.2020        1
03.01.2020        1
01.01.2020        1
15.01.2020        1
12.01.2020        1
21.01.2020        1
Name: date_admission_hospital, dtype: int64

In [5]:
ncov_hubei.date_confirmation.value_counts(dropna=False)

06.02.2020    2447
03.02.2020    2345
08.02.2020    2147
16.02.2020    1944
01.02.2020    1921
NaN           1827
17.02.2020    1825
18.02.2020    1746
31.01.2020    1347
28.01.2020    1291
30.01.2020    1220
22.02.2020     630
29.01.2020     588
27.01.2020     396
21.02.2020     367
19.01.2020      77
18.01.2020      61
20.01.2020      59
not sure         2
23.01.2020       1
Name: date_confirmation, dtype: int64

## Type date columns

In [6]:
import pandas as pd

for column in ncov_hubei.columns:
    if column.startswith("date"):
        ncov_hubei[column] = pd.to_datetime(ncov_hubei[column], errors="coerce", dayfirst=True)

## Drop rows where confirmation date is after death or discharge date

None exist; added for consistency with `Outside Hubei.ipynb`.

In [7]:
ncov_hubei[ncov_hubei.date_confirmation > ncov_hubei.date_death_or_discharge]

Empty DataFrame
Columns: [ID, age, sex, city, province, country, wuhan(0)_not_wuhan(1), latitude, longitude, geo_resolution, date_onset_symptoms, date_admission_hospital, date_confirmation, symptoms, lives_in_Wuhan, travel_history_dates, travel_history_location, reported_market_exposure, additional_information, chronic_disease_binary, chronic_disease, source, sequence_available, outcome, date_death_or_discharge, notes_for_discussion, location, admin3, admin2, admin1, country_new, admin_id, Unnamed: 32]
Index: []

[0 rows x 33 columns]

In [8]:
ncov_hubei_filtered = ncov_hubei[
    ~(ncov_hubei.date_confirmation > ncov_hubei.date_death_or_discharge)
    & ncov_hubei.date_confirmation.notna()
]

# Get data in the right format

In [9]:
start_dates = ncov_hubei_filtered.date_confirmation
end_dates = ncov_hubei_filtered.date_death_or_discharge

In [10]:
from lifelines.utils import datetimes_to_durations

T, E = datetimes_to_durations(start_dates, end_dates, freq="D")
pd.DataFrame({"T": T, "E": E})[E]

       T     E
57   1.0  True
58   2.0  True
196  2.0  True
197  0.0  True

In [11]:
pd.DataFrame({"T": T, "E": E}).groupby("E")["T"].value_counts()

E      T
False  39.0    2447
       42.0    2345
       37.0    2147
       29.0    1944
       44.0    1921
       28.0    1825
       27.0    1746
       45.0    1347
       48.0    1291
       46.0    1220
       23.0     630
       47.0     588
       49.0     396
       24.0     367
       57.0      77
       58.0      60
       56.0      57
True   2.0        2
       0.0        1
       1.0        1
Name: T, dtype: int64